<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ZeusWPI</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./style.css" />

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="https://malsup.github.com/jquery.form.js"></script>
  <script src="./progress.js" charset="utf-8"></script>
  <link rel="icon" type="image/png" href="./zeus_grey_32.png">
</head>
<body>
  <section class="hero is-fullheight is-bold is-dark dark-bg">
    <div class="logo-wrapper">
      <img class="logo" src="https://werthen.com/zinc/zeuslogo.svg?color=white" alt="Logo">
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="content">
        <h1 class="title">
          Upload <span class="random-shit">a file</span>
        </h1>
        <h3 class="subtitle">
        </h3>
          <form id="upload" action="./" method="post" enctype="multipart/form-data">
            <label class="file-upload">
              <input name="file" type="file" required/>
              <span class="button is-primary is-outlined">
                <span class="icon hidden">
                  <i class="fa fa-check"></i>
                </span>
                <span>
                  Choose file
                </span>
              </span>
            </label>
            <input type="submit" class="button is-success is-outlined is-disabled" />
          </form>
        </div>
        <progress class="progress is-primary" value="30" max="100" style="display:none;">30%</progress>
      </div>
    </div>
  </section>
</body>
</html>
